<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]='["/"]'>Form Validation Demo</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]='["/reactive-form"]'>Reactive Form</a>
            </li>
            <li class="text-white" routerLink='skills'>Skills</li>
            <br>
            <li class="text-white" routerLink='testform'>Test Form</li>
            <br>
            <li class="text-white" routerLink='addfbform'>Add Fb Form</li>
            <br>
            <li class="text-white" routerLink='demo'>Demo Form </li>
            <br>
            <li class="text-white" routerLink='testcase'>Test Case</li>
            <br>
            <li class="text-white" routerLink='userForm'>User Form</li>
        </ul>
    </div>
</nav>
<div class="container pt-5">
    <router-outlet></router-outlet>
  </div>